<div class="col-6">
    <p>Thank you for visiting bobbyfirmino.com. Please use this website to troll your Premier League team's rivals through GIF's. Goals, Nutmegs, Tricks and Flips. Your trolling starts here.</p>
    <hr>
    <p>This site is sponsored by LFC Utah. LFC Utah is currently looking for anyone interested in getting involved with the supporter's club, and especially needs members with paid membership to LFC. Visit our <a href="https://www.facebook.com/UtahLFC/">Facebook page</a> to learn more.  </p>
  </div>
</div>