{{#each gifs as |gif|}}


      <div class="col-6 pt-3">
        <div class="row align-self-center justify-content-center no-gutters">
          <img src='../public/images/bobbysmile.gif'> <!--Change this to {{handlebars}} code to insert gif-->
        </div>
      </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/assets/js/index.js"></script>
{{/each}}