<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <title>Bobby Firmino</title>
</head>

<body class="bg-dark">
  <div class="jumbotron bg-danger align-middle">
    <h1 class="display-4">Best in the World, Bobby Firmino</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-3">
        <p class="lead text-white pl-4">
          There's something that the Kop wants you to know,
          <br>
          <br>
          The best in the world his name is Bobby Firmino.
          <br>
          <br>
          Our number nine,
          Give the ball to him and he'll score everytime.
          <br>
          <br>
          Sim señhor,
          Give the ball to Bobby and he will score.
        </p>
      </div>
      <hr class="my-4">
      <div class="col-6 pt-3">
        <div class="row align-self-center justify-content-center no-gutters">
          <img src="/images/bobbysmile.gif"> <!--Change this to {{handlebars}} code to insert gif-->
        </div>
      </div>
      
      <div class="col-3">
        <div class="row no-gutters">
          <div class="col">
        <div class="list-group">
          <a href="/liverpool" class="list-group-item list-group-item-action">Liverpool</a>
          <a href="/tottenham" class="list-group-item list-group-item-action">Tottenham</a>
          <a href="/southampton" class="list-group-item list-group-item-action">Southampton</a>
          <a href="/leicester" class="list-group-item list-group-item-action">Leicester City</a>
          <a href="/everton" class="list-group-item list-group-item-action">Everton</a>
          <a href="/manunited" class="list-group-item list-group-item-action">Manchester United</a>
          <a href="/chelsea" class="list-group-item list-group-item-action">Chelsea</a>
          <a href="/westham" class="list-group-item list-group-item-action">West Ham</a>
          <a href="/mancity" class="list-group-item list-group-item-action">Manchester City</a>
          <a href="/wolves" class="list-group-item list-group-item-action">Wolves</a>
        </div>
      </div>
      <div class="col">
        <div class="list-group">
          <a href="/astonvilla" class="list-group-item list-group-item-action">Aston Villa</a>
          <a href="/crystalpalace" class="list-group-item list-group-item-action">Crystal Palace</a>
          <a href="/leeds" class="list-group-item list-group-item-action">Leeds United</a>
          <a href="/newcastle" class="list-group-item list-group-item-action">Newcastle</a>
          <a href="/arsenal" class="list-group-item list-group-item-action">Arsenal</a>
          <a href="/brighton" class="list-group-item list-group-item-action">Brighton</a>
          <a href="/burnley" class="list-group-item list-group-item-action">Burnley</a>
          <a href="/fullham" class="list-group-item list-group-item-action">Fullham</a>
          <a href="/westbrom" class="list-group-item list-group-item-action">West Brom</a>
          <a href="/sheffield" class="list-group-item list-group-item-action">Sheffield United</a>
        </div>
      </div>
      </div>
      </div>
   
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/assets/js/index.js"></script>
</body>

</html>